header {
  height: 320px;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: center;
  align-items: flex-end;
  color: #FFFFFF;
  background-color: #3f5591;
  background-image: url("https://www.transparenttextures.com/patterns/brilliant.png");
}

logged-in-user {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  min-width: 280px;
}