header {
  height: 440px;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: center;
  align-items: flex-end;
  color: #FFFFFF ;
  background-color: #3f5591;
background-image: url("https://www.transparenttextures.com/patterns/brilliant.png");
/* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}

logged-in-user {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
  
}
