article.tweet {
  border: 3px solid #c5daff;
  border-radius: 6px;
  background-image: none;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 6em;
}
article.tweet:hover {
    box-shadow: 0 0 11px rgba(33,33,33,.2); 
    transition: box-shadow .3s;
}

.tweet-user {
  font-family: 'Source Sans Pro', sans-serif;
  padding-left: 10px;
  border-left-width: 10px;
  margin-left: 0px;
  padding-top: 5px; 
  padding-bottom: 10px;
  padding-right: 10px;
  display: flex;
  /* flex-direction: row; */
  justify-content: space-between;
  align-items: flex-start;
}

.photo-name {
  font-family: 'Source Sans Pro', sans-serif;
}

.tweet-message {
  display: flex;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px; 
  padding-bottom: 10px;
}
.line {
  border-bottom: solid ;
  border-color: #c5daff;
  padding: 5px 5px;
  width: 100%;
}

.date {
  font-family: 'Source Sans Pro', sans-serif;
}
.flag:hover {
  color: blue;
}
.retweet:hover {
  color: blue;
}
.heart-like:hover {
  color: blue;
}

.date-icons {
  display: flex;
  justify-content: space-between;
  font-family: 'Source Sans Pro', sans-serif;
    padding-left: 10px;
  border-left-width: 10px;
  margin-left: 0px;
  padding-top: 5px; 
  padding-bottom: 10px;
  padding-right: 10px;

}